@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./assets/LatoLatin-Light.eot'); 
    src: url('./assets/LatoLatin-Light.woff2') format('woff2'),
         url('./assets/LatoLatin-Light.woff') format('woff'), 
         url('./assets/LatoLatin-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/LatoLatin-Regular.eot'); 
    src: url('./assets/LatoLatin-Regular.woff2') format('woff2'), 
         url('./assets/LatoLatin-Regular.woff') format('woff'), 
         url('./assets/LatoLatin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/LatoLatin-Bold.eot');
    src: url('./assets/LatoLatin-Bold.woff2') format('woff2'), 
         url('./assets/LatoLatin-Bold.woff') format('woff'), 
         url('./assets/LatoLatin-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('./assets/LatoLatin-Black.eot'); 
    src: url('./assets/LatoLatin-Black.woff2') format('woff2'),
         url('./assets/LatoLatin-Black.woff') format('woff'), 
         url('./assets/LatoLatin-Black.ttf') format('truetype');
}